@model Order

<form asp-action="@Model.GetType().Name" asp-controller="Home" asp-anti-forgery="true">

    <input type="number" asp-for="Price" step="0.01" placeholder="Цена за штуку" value = ""/>
    <span asp-validation-for="Price" />

    <input type="number" asp-for="Number" step="1" placeholder="Количество" value = ""/>
    <span asp-validation-for="Number" />

    <input type="text" asp-for="Email" placeholder="Email"/>
    <span asp-validation-for="Email" />

    <input type="submit" value="@(Model.GetType().Name == "Buy" ? "Купить" : "Продать")"> @*TODO: use localization*@

</form>