@model Order

<form asp-action="@Model.GetType().Name" asp-controller="Home" asp-anti-forgery="true">

    <input type="number" asp-for="Price" step="0.01" placeholder="Цена за штуку"/>
    <span asp-validation-for="Price" />

    <input type="number" asp-for="Number" step="1" placeholder="Количество"/>
    <span asp-validation-for="Number" />

    <input type="text" asp-for="Comment" placeholder="Комментарий"/>
    <span asp-validation-for="Comment" />

    <input type="submit" value="@(Model.GetType().Name == "Buy" ? "Купить" : "Продать")"> @*TODO: use localization*@

</form>