<!DOCTYPE html>

<html>
<head>
    <title>Cake Exchange</title>
    <link rel="stylesheet" asp-href-include="~/css/**/*.css" asp-append-version="true"/>
</head>
<body>
<div class="make-order">
    @Html.Partial("Partials/Buy", (IEnumerable<Order>)ViewBag.SellOrders)
</div>
<div class="make-order">
    @Html.Partial("Partials/Sell", (IEnumerable<Order>)ViewBag.BuyOrders)
</div>

<div class="transactions--completed">
    @Html.Partial("Partials/CompletedTransactions", (IEnumerable<Transaction>)ViewBag.Transactions)
</div>


</body>
</html>